<div class="mobile-search-overlay">
    <div class="mobile-search-bar">
        <button class="back-btn" aria-label="Volver"
                hx-get="/api/v1/close-mobile-search"
                hx-target="#mobile-search-container"
                hx-swap="innerHTML">
            <img src="/static/img/arrow-left.svg" alt="Volver" width="20" height="20" />
        </button>
        <div class="search-input-container" role="search">
            <img class="search-icon" src="/static/img/search.svg" alt="Buscar" width="18" height="18" />
            <input type="search" name="q" placeholder="Busca tu producto..." aria-label="Buscar"
                   autocomplete="off"
                   id="mobile-search-input" />
        </div>
    </div>
</div>
