
{% extends "layouts/base.html" %}


{% block content %}
        <!-- Producto destacado simple -->

        <div class="carta">
            <div class="foto-box">
                <img class="foto"  src="{{ url_for('static', path='img/productos/blanqueador-brilla-king-2000-ml-01.png') }}" alt="Blanqueador Brilla King 2000 ml">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/atun-en-aceite-carlo-forte-170-g-neto-01.png') }}" alt="Atún en aceite Carlo Forte 170 g">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/cerveza-club-colombia-269-ml-01.png') }}" alt="Cerveza Club Colombia 269 ml">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/huevo-tipo-a-sol-naciente-30-und-01.png') }}" alt="Huevo tipo A Sol Naciente 30 und">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/jugo-de-naranja-fresco-tree-fruts-1000-ml-01.png') }}" alt="Jugo de naranja Tree Fruts 1000 ml">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/leche-equilibrio-tetrapak-uhtlatti-900ml-01.png') }}" alt="Leche Equilibrio 900 ml">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/papel-higienico-premium-3h-12u-rendy-32-mts-01.png') }}" alt="Papel higiénico premium 12u Rendy">
            </div>
            <div class="foto-box">
                <img class="foto" src="{{ url_for('static', path='img/productos/spaghetti-deliziare-500-g-01.png') }}" alt="Spaghetti Deliziare 500 g">
            </div>
        </div>

{% endblock %}
